---
import loadingIcon from "../../../kaplay/assets/sprites/sword.png";
---

<div
    id="web-container-loading"
    class="absolute w-full h-full bg-base-100 flex items-center justify-center z-50"
>
    <div class="animate-spin text-3xl">
        <img src={loadingIcon.src} alt="loading" />
    </div>
</div>

<script>
    import { $isContainerLoading } from "../../stores/playground";

    $isContainerLoading.subscribe((value) => {
        const container = document.getElementById("web-container-loading");

        if (!value) {
            container?.remove();
        }
    });
</script>
