---
import accountIcon from "../../../assets/toolbar/profile.webp";
import { supabase } from "../../../lib/supabase";
import ToolbarButton from "../ToolbarButton.astro";

const { cookies } = Astro;
const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");
let logged = false;
let userName = "KAPLAYER";

// not optimistic code, it's depressive code
if (accessToken && refreshToken) {
    const { data, error } = await supabase.auth.setSession({
        refresh_token: refreshToken.value,
        access_token: accessToken.value,
    });

    if (error) {
        cookies.delete("sb-access-token", {
            path: "/",
        });
        cookies.delete("sb-refresh-token", {
            path: "/",
        });
    }

    logged = true;
    userName = data?.user?.user_metadata["user_name"] || "KAPLAYER";
}
---

<div class="dropdown dropdown-end flex-grow-0 flex-shrink-0 basis-24 h-full">
    <ToolbarButton
        id="account-manager"
        icon={accountIcon}
        tooltip="Account"
    />

    <ul
        tabindex="0"
        class="dropdown-content z-[1] menu p-2 shadow bg-base-200 rounded-box w-52"
    >
        {
            logged && (
                <>
                    <li>
                        <button class="btn btn-sm btn-ghost">
                            {userName}
                        </button>
                    </li>
                </>
            )
        }
        <li>
            {
                logged
                ? (
                    <form
                        action="/api/auth/signout"
                        method="get"
                        class="btn btn-sm btn-ghost"
                    >
                        <button>Log out</button>
                    </form>
                )
                : (
                    <form
                        action="/api/auth/signin"
                        method="post"
                        class="btn btn-sm btn-ghost"
                    >
                        <button
                            value="github"
                            name="provider"
                            type="submit"
                        >Sign in with GitHub</button>
                    </form>
                )
            }
        </li>
    </ul>
</div>

<script>
    
</script>
