---
import AssetBrewItem from "./AssetBrewItem.astro";
import { assets } from "./assets";
---

<dialog id="assetbrew-modal" class="modal">
    <section class="modal-box flex flex-col gap-4">
        <label class="btn" id="assetbrew-upload">
            <input
                type="file"
                hidden
                id="assetbrew-fileinput"
            />
            <span>Upload</span>
        </label>
        <div
            class="assets | flex flex-wrap gap-4 max-h-96 overflow-y-auto items-center justify-start"
        >
            {assets.map((asset) => <AssetBrewItem {asset} />)}
        </div>
    </section>

    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>

<script src="./assetBrew.ts"></script>
