@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
	height: 100svh;
	margin: 0;
	padding: 0;
    overflow: hidden;
    scrollbar-width: none;
    font-family: 'Outfit Variable', sans-serif;
}

:root {
    --separator-border: rgba(0, 0, 0, 0);
    --focus-border: rgb(171, 220, 100);
}

:root .react-tooltip {
    --rt-color-dark: rgba(23, 27, 34, 0.95);
    @apply rounded-md;
}

@layer utilities {
    .bg-base-50 {
        @apply bg-[rgb(50,56,68)];
    }

    .scrollbar-thin {
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color:
            color-mix(in oklch, currentColor 20%, transparent)
            transparent;
    }

    .pixelated {
        -ms-interpolation-mode: nearest-neighbor;
        image-rendering: pixelated;
    }

    .after-border-dashed {
        :where(&) {
            position: relative;
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            mask-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23000' stroke-width='4' stroke-dasharray='8%2c 8' stroke-dashoffset='6' stroke-linecap='square'/%3e%3c/svg%3e");
            border-radius: inherit;
        }

        :where(&::after) {
            @apply bg-base-content/15 transition-colors;
        }
    }
}

.sash-vertical {
    height: calc(100% - 1rem) !important;
    @apply mt-2 before:rounded-sm;
}

.sash-horizontal {
    width: calc(100% - 1rem) !important;
    @apply ml-2 before:rounded-sm;
}

.react-tooltip {
    --rt-color-error: color-mix(in oklch, oklch(var(--er)) 94%, #000);
}

/* monaco */

#monaco-editor-wrapper .monaco-editor {
    @apply rounded-xl outline-none;

    .quick-input-widget .monaco-highlighted-label .highlight {
        color: oklch(var(--p));
    }

    .find-widget .button:not(.disabled):hover,
    .find-widget .codicon-find-selection:hover {
        background-color: oklch(var(--bc) / 0.15) !important;
    }
    .find-widget .button.toggle {
        background: none;
        border: none;
        box-shadow: none;
    }
    .find-widget .button.toggle:focus-visible {
        outline: none;
        box-shadow: inset 0 0 0 1px oklch(var(--bc) / 0.10);
    }
    .find-widget .codicon:focus-visible {
        outline: 1px solid oklch(var(--bc) / 0.2);
        outline-offset: 1px;
    }

    .monaco-glyph-margin-preview-image {
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .overflow-guard {
        @apply rounded-xl;
    }

    .monaco-editor-hover {
        z-index: 1000;
    }
}

/* console */

#console-wrapper {
    --i-log: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%2340494f' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m9 18 6-6-6-6'/%3E%3C/svg%3E");
    --i-error: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23ea6262' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cline x1='12' x2='12' y1='8' y2='12'/%3E%3Cline x1='12' x2='12.01' y1='16' y2='16'/%3E%3C/svg%3E");
    --i-warn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23efd057' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3'/%3E%3Cpath d='M12 9v4'/%3E%3Cpath d='M12 17h.01'/%3E%3C/svg%3E");
    --i-info: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%236d80fa' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M12 16v-4'/%3E%3Cpath d='M12 8h.01'/%3E%3C/svg%3E");
    --i-debug: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%234d88ff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-bug-icon lucide-bug'%3E%3Cpath d='M12 20v-9'/%3E%3Cpath d='M14 7a4 4 0 0 1 4 4v3a6 6 0 0 1-12 0v-3a4 4 0 0 1 4-4z'/%3E%3Cpath d='M14.12 3.88 16 2'/%3E%3Cpath d='M21 21a4 4 0 0 0-3.81-4'/%3E%3Cpath d='M21 5a4 4 0 0 1-3.55 3.97'/%3E%3Cpath d='M22 13h-4'/%3E%3Cpath d='M3 21a4 4 0 0 1 3.81-4'/%3E%3Cpath d='M3 5a4 4 0 0 0 3.55 3.97'/%3E%3Cpath d='M6 13H2'/%3E%3Cpath d='m8 2 1.88 1.88'/%3E%3Cpath d='M9 7.13V6a3 3 0 1 1 6 0v1.13'/%3E%3C/svg%3E");

    /* log message */
    [data-method] {
        margin-bottom: 0;
        padding-left: 4px;
    }

    [data-method]:last-child {
        border-bottom-color: transparent;
    }

    [data-method] :last-child::after {
        display: none;
    }

    [data-method="error"],
    [data-method="warn"],
    [data-method="info"] {
        z-index: 1;
    }

    /* log counter */
    [data-method] > div:first-child span :not(:empty) {
        margin-left: -1px;
        margin-right: -2px;
        color: oklch(var(--bc) / 0.8);
    }

    /* log message content */
    [data-method] > div ~ div:last-child {
        margin-left: 12px;
    }

    /* folding arrow */
    [aria-expanded] > :first-child > span[style*="transform"]:first-child {
        background-color: currentColor;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M5 5a2 2 0 0 1 3.008-1.728l11.997 6.998a2 2 0 0 1 .003 3.458l-12 7A2 2 0 0 1 5 19z'/%3E%3C/svg%3E");
        mask-position: center;
        mask-size: 8px;
        mask-repeat: no-repeat;
        opacity: 0.5;
    }
    [aria-expanded="true"] > :first-child > span[style*="transform"]:first-child {
        opacity: 1;
    }
}

/* daisyUI */

.collapse {
    grid-template-rows: max-content 0fr;

    &:is([open], :focus:not(.collapse-close)),
    &:not(.collapse-close):has(> input:is([type="checkbox"], [type="radio"]):checked) {
        grid-template-rows: max-content 1fr;
    }
}

.modal {
    @apply backdrop:opacity-0 bg-[#0a0c10]/50;

    &.backdrop-fade-in {
        @apply bg-[#15191f];
        animation: backdrop-fade-in 300ms cubic-bezier(0.4, 0, 0.2, 1) 1.3s forwards;
    }
}

@keyframes backdrop-fade-in {
    0% { @apply bg-[#15191f]; }
    100% { @apply bg-[#0a0c10]/65; }
}
