@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
	height: 100vh;
	margin: 0;
	padding: 0;
    overflow: hidden;
    scrollbar-width: none;
    font-family: 'Outfit Variable', sans-serif;
}

:root {
    --separator-border: rgba(0, 0, 0, 0);
    --focus-border: rgb(171, 220, 100);
}

:root .react-tooltip {
    --rt-color-dark: rgba(23, 27, 34, 0.95);
    @apply rounded-md;
}

@layer utilities {
    .bg-base-50 {
        @apply bg-[rgb(50,56,68)];
    }

    .scrollbar-thin {
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color:
            color-mix(in oklch, currentColor 20%, transparent)
            transparent;
    }

    .pixelated {
        -ms-interpolation-mode: nearest-neighbor;
        image-rendering: pixelated;
    }
}

.sash-vertical {
    height: calc(100% - 1rem) !important;
    @apply mt-2 before:rounded-sm;
}

.sash-horizontal {
    width: calc(100% - 1rem) !important;
    @apply ml-2 before:rounded-sm;
}


#monaco-editor-wrapper .monaco-editor {
    @apply rounded-xl;

    .quick-input-widget .monaco-highlighted-label .highlight {
        color: oklch(var(--p));
    }

    .find-widget .button:not(.disabled):hover,
    .find-widget .codicon-find-selection:hover {
        background-color: oklch(var(--bc) / 0.15) !important;
    }
}

/* temp */

.monaco-glyph-margin {
	width: 40px;
}

.monaco-glyph-margin::after {
	background-image: url("/assetbrew.png");
    background-size: 20px;
	background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 40px;
    height: 20px;
    content:"";
}

.overflow-guard {
    @apply rounded-xl;
}

