@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
	height: 100vh;
	margin: 0;
	padding: 0;
    overflow: hidden;
    scrollbar-width: none;
    font-family: 'Rubik Variable', sans-serif;
}

/* temp */

.monaco-glyph-margin {
	width: 40px;
}

.monaco-glyph-margin::after {
	background-image: url("/assetbrew.png");
    background-size: 24px;
	background-repeat: no-repeat;
    display: inline-block;
    width: 40px; 
    height: 20px;
    content:"";
}

