---
import { examples } from "./examples";
---

<select
    id="example-select"
    class="select select-bordered select-sm w-full max-w-48 lg:max-w-xs ml-2"
    title="Choose an example"
>
    <option selected disabled>Choose an example</option>
    {
        examples.map((example: any) => (
            <option data-example={example?.name} data-code={example?.content}>
                {example?.name}
            </option>
        ))
    }
</select>

<script>
    import {
        editorInstance,
        gameViewElement,
        playgroundCode,
    } from "../../stores/playground";

    const select = document.querySelector<HTMLSelectElement>("#example-select");
    const options = select?.querySelectorAll<HTMLOptionElement>("option");

    select?.addEventListener("change", () => {
        const option = options?.[select.selectedIndex];
        const example = option?.dataset.example;
        const exampleCode = option?.dataset.code;

        if (example) {
            history.pushState({}, "", `?example=${example}`);
        }

        if (exampleCode) {
            playgroundCode.set(exampleCode);
            editorInstance.get()?.setValue(exampleCode);
            gameViewElement.get()?.run();
        }
    });
</script>
