---
import assetBrewIcon from "../../assets/toolbar/assetbrew.png";
import runIcon from "../../assets/toolbar/run.png";
import shareIcon from "../../assets/toolbar/share.png";
import ToolbarButton from "./ToolbarButton.astro";
import ToolbarAccountManager from "./Tools/ToolbarAccountManager.astro";
import ToolbarProjectManager from "./Tools/ToolbarCodeManager.astro";
import ToolbarThemeSelector from "./Tools/ToolbarThemeSelector.astro";
---

<ul class="flex flex-row items-center justify-center h-full">
    <li>
        <ToolbarButton
            id="run"
            icon={runIcon}
            tooltip="Run Project"
        />
    </li>
    <li>
        <ToolbarButton
            id="share"
            icon={shareIcon}
            tooltip="Share Project"
        />
    </li>
    <li>
        <ToolbarThemeSelector />
    </li>
    <li>
        <ToolbarProjectManager />
    </li>
    <li>
        <ToolbarButton
            id="assetbrew"
            icon={assetBrewIcon}
            tooltip="Open AssetBrew"
        />
    </li>
    <li>
        <ToolbarAccountManager />
    </li>
</ul>

<script>
    import { save } from "../../actions/save";
    import { $playgroundCode, $toastyElement } from "../../stores";
    import { compressCode } from "../../util/compressCode";

    const runButton = document.getElementById("run");
    const shareButton = document.getElementById("share");
    const assetbrewButton = document.getElementById("assetbrew");
    const assetbrewModal = document.querySelector<HTMLDialogElement>(
        "#assetbrew-modal",
    );

    runButton?.addEventListener("click", save);

    shareButton?.addEventListener("click", () => {
        const url = new URL(window.location.href);
        url.searchParams.set("code", compressCode($playgroundCode.get()));

        navigator.clipboard.writeText(url.href);
        $toastyElement.get()?.addToast("Link copied to clipboard!");
    });

    assetbrewButton?.addEventListener("click", () => {
        assetbrewModal?.showModal();
    });
</script>
