---
import ToolbarExamples from "./ToolbarExamples.astro";
import ToolbarVersionSelector from "./ToolbarVersionSelector.astro";
---

<div
    class="lg:hidden flex bg-base-300"
    role="toolbar"
>
    <div class="flex items-center justify-center min-h-14">
        <ToolbarExamples />
        <ToolbarVersionSelector />
    </div>
</div>
