---
import AssetBrew from "../AssetBrew/AssetBrew.astro";
import GameView from "../GameView/GameView.astro";
import MonacoEditor from "../MonacoEditor/MonacoEditor.tsx";
import Toolbar from "../Toolbar/Toolbar.astro";
import ToolbarDown from "../Toolbar/ToolbarDown.astro";
import Toasty from "../UI/Toasty.astro";
---

<main class="flex flex-col h-dvh" id="kaplayground">
    <Toolbar />

    <div id="wrapper">
        <div class="lg:w-1/2 flex-auto">
            <MonacoEditor client:load />
        </div>

        <div role="separator" tabindex="1" />

        <div class="lg:w-1/2 flex-auto">
            <GameView />
        </div>
    </div>

    <ToolbarDown />

    <Toasty />
    <AssetBrew />
</main>

<script>
    const wrapper = document.querySelector("#wrapper");
    const isDesktop = window.matchMedia("(min-width: 1024px)").matches;

    if (isDesktop) {
        wrapper?.setAttribute("data-flex-splitter-horizontal", "");
    } else {
        wrapper?.setAttribute("data-flex-splitter-vertical", "");
    }
</script>

<script src="./loadUrl.ts"></script>
<script src="./hotKeys.ts"></script>
