---
import AssetBrew from "../../components/AssetBrew/AssetBrew.astro";
import GameView from "../../components/GameView/GameView.astro";
import MonacoEditor from "../../components/MonacoEditor/MonacoEditor.tsx";
import Toolbar from "../../components/Toolbar/Toolbar.astro";
import Toasty from "../../components/UI/Toasty.astro";
import { isEditor, isPlayground } from "../../stores/playground";

type Props = {
    mode?: "playground" | "editor";
};

const { mode } = Astro.props;

// server side / ssg
isPlayground.set(mode === "playground");
isEditor.set(mode === "editor");
---

<main class="flex flex-col h-screen" id="kaplayground" data-mode={mode}>
    <Toolbar />

    <div class="flex flex-col lg:flex-row flex-1">
        <div id="split-0" class="w-1/2">
            <MonacoEditor client:load />
        </div>
        <div id="split-1">
            <GameView />
        </div>
    </div>

    <Toasty />
    <AssetBrew />
</main>

<script>
    import Split from "split.js";
    import {
        editorInstance,
        isEditor,
        isPlayground,
    } from "../../stores/playground";
    import "./hotKeys";

    const kaplaygroundEl = document.getElementById("kaplayground");
    const mode = kaplaygroundEl?.dataset.mode;

    // client side
    isPlayground.set(mode === "playground");
    isEditor.set(mode === "editor");

    let isMobile = window.innerWidth < 1024;
    let currentSplit = Split(["#split-0", "#split-1"], {
        direction: isMobile ? "vertical" : "horizontal",
        sizes: [50, 50],
    });

    window.addEventListener("resize", () => {
        let newIsMobile = window.innerWidth < 1024;

        if (newIsMobile !== isMobile) {
            isMobile = newIsMobile;
            currentSplit.destroy();

            currentSplit = Split(["#split-0", "#split-1"], {
                direction: isMobile ? "vertical" : "horizontal",
            });
            editorInstance.get()?.updateOptions({
                fontSize: isMobile ? 18 : 20,
            });
        }
    });
</script>

<style is:global>
.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}
</style>
