---
import { $isEditor, $isPlayground } from "../../stores/playground";
import AssetBrew from "../AssetBrew/AssetBrew.astro";
import FileExplorer from "../FileExplorer/FileExplorer.astro";
import GameView from "../GameView/GameView.astro";
import MonacoEditor from "../MonacoEditor/MonacoEditor.tsx";
import Toolbar from "../Toolbar/Toolbar.astro";
import Toasty from "../UI/Toasty.astro";

type Props = {
    mode?: "playground" | "editor";
};

const { mode } = Astro.props;

// server side / ssg
$isPlayground.set(mode === "playground");
$isEditor.set(mode === "editor");
---

<main class="flex flex-col h-screen" id="kaplayground" data-mode={mode}>
    <Toolbar />

    <div data-flex-splitter-horizontal id="wrapper">
        {
            $isEditor.get() && (
                <div class="w-[10%]">
                    <FileExplorer />
                </div>

                <div role="separator" tabindex="1" />
            )
        }

        <div
            class:list={{
                "w-1/2": $isPlayground.get(),
                "w-[40%]": $isEditor.get(),
            }}
        >
            <MonacoEditor client:load />
        </div>

        <div role="separator" tabindex="1" />

        <div class="w-1/2">
            <GameView />
        </div>
    </div>

    <Toasty />
    <AssetBrew />
</main>

<script>
    import "./setMode";
    import "./hotKeys";
</script>
