---
import AssetBrew from "../AssetBrew/AssetBrew.astro";
import GameView from "../GameView/GameView.astro";
import MonacoEditor from "../MonacoEditor/MonacoEditor.tsx";
import Toolbar from "../Toolbar/Toolbar.astro";
import Toasty from "../UI/Toasty.astro";
---

<main class="flex flex-col h-screen" id="kaplayground">
    <Toolbar />

    <div data-flex-splitter-horizontal id="wrapper">
        <div class="w-1/2">
            <MonacoEditor client:load />
        </div>

        <div role="separator" tabindex="1" />

        <div class="w-1/2">
            <GameView />
        </div>
    </div>

    <Toasty />
    <AssetBrew />
</main>

<script src="./loadUrl.ts"></script>
<script src="./hotKeys.ts"></script>
