---
import { $isEditor, $isPlayground } from "../../stores/playground";
import AssetBrew from "../AssetBrew/AssetBrew.astro";
import GameView from "../GameView/GameView.astro";
import MonacoEditor from "../MonacoEditor/MonacoEditor.tsx";
import Toolbar from "../Toolbar/Toolbar.astro";
import Toasty from "../UI/Toasty.astro";

type Props = {
    mode?: "playground" | "editor";
};

const { mode } = Astro.props;

// server side / ssg
$isPlayground.set(mode === "playground");
$isEditor.set(mode === "editor");
---

<main class="flex flex-col h-screen" id="kaplayground" data-mode={mode}>
    <Toolbar />

    <div data-flex-splitter-horizontal>
        <div class="w-1/2">
            <MonacoEditor client:load />
        </div>

        <div role="separator" tabindex="1" />

        <div class="w-1/2">
            <GameView />
        </div>
    </div>

    <Toasty />
    <AssetBrew />
</main>

<script>
    // import { Terminal } from "@altronix/xterm";
    // import { $terminal } from "../../stores/project";

    // const terminalEl = document.getElementById("terminal");

    // if (terminalEl) {
    //     const terminal = new Terminal({
    //         convertEol: true,
    //     });

    //     terminal.open(terminalEl);
    //     $terminal.set(terminal);
    // }
</script>
