---
type Props = {
    title: string;
};

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <script is:inline>
        if (localStorage.getItem("theme") === null) {
            document.documentElement.setAttribute("data-theme", "light");
        } else {
            document.documentElement.setAttribute(
                "data-theme",
                localStorage.getItem("theme"),
            );
        }
        </script>
        <script>
        import { themeChange } from "theme-change";
        themeChange();
        </script>
        <meta charset="UTF-8" />
        <meta name="description" content="Kaplay is a Kaboom.js playground" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/dino.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
html, body {
	height: 100vh;
	margin: 0;
	padding: 0;
    overflow: hidden;
    scrollbar-width: none;
}
</style>
