---
export interface Toasty extends HTMLElement {
    addToast(message?: string): void;
}
---

<toast-y class="toast"> </toast-y>

<script>
import { toastyElement } from "../../stores/playground";

class Toasty extends HTMLElement {
    constructor() {
        super();
        toastyElement.set(this);
    }

    addToast(message: string) {
        const toast = document.createElement("div");
        toast.classList.add(
            "alert",
            "alert-primary",
            "border-t-4",
            "border-t-primary",
            "rounded-sm",
            "border-0",
        );

        toast.innerHTML = `<span>${message}</span>`;

        this.appendChild(toast);

        setTimeout(() => {
            toast.remove();
        }, 3000);
    }
}

customElements.define("toast-y", Toasty);
</script>
